.logo-img{
    width: 58px;
    height: 70px !important;
}

.header{
    background-color: black !important;
    color: white !important;
    padding-top: 4px !important;
    padding-bottom: 4px;
}

:host ::ng-deep .p-menuitem-link:focus {

    color: white !important;
    .p-menuitem-text {
        color: white !important;
    }

    .p-menuitem-icon {
        color: white !important;
    }
}

:host ::ng-deep .menu-item{
    color: white !important;
}

:host ::ng-deep .p-menubar-end{
    display: none !important;
}

:host ::ng-deep .menu-item .p-menuitem-link .p-menuitem-text {
    color: white !important;
}

:host ::ng-deep .menu-item .p-menuitem-link .p-menuitem-icon {
    color: white !important;
}

.row{
    padding-left: 0px !important;
    padding-right: 0px !important;
}