<div class="row col-6 mx-auto mt-4 mb-5">
    <h1 class="col-12 text-center">TERMINOS Y CONDICIONES</h1>
    <div class="mt-2 row">
        <div class="col-6 col-xs-12 pe-4 ps-0 pe-0">
            <div class="col-12 mt-5">
                <h3>
                    ¿CUANTO CUESTA?
                </h3>
                <p class="mt-3">
                    El costo por almacenamiento de Paquete es desde $10 pesos por semana y 
                    desde $10 pesos por traslado entre sucursales.
                </p>
            </div>

            <div class="col-12 mt-5">
                <h3 class="col-12">
                    ¿COMO RECOJO UN PAQUETE?
                </h3>
                <p class="mt-3">
                    Para poder recoger un paquete es necesario, indispensable y obligatorio presentar la imagen completa de tu folio,
                     no debe presentar ningún tipo de alteración.
                </p>
                <p class="mt-3">
                    No se entregan paquetes si no muestra la imagen completa y sin alteraciones.
                </p>
                <p class="mt-3">
                    Solicita a tu vendedor que te proporcione la imagen de tu folio en perfectas condiciones
                     ya que no será posible entregarte si no presentas este comprobante digitalizado. 
                </p>
            </div>

            <div class="col-12 mt-5">
                <h3>
                    ¿DONDE LO PUEDO RECOGER?
                </h3>
                <p class="mt-3">
                    Pueden pasar de Lunes a Viernes de 11-8 y de Sábados de 10-4 pm ,
                     nuestro domicilio es Pedro Moreno 776 int. B, Col. Centro, frente al parque Rojo,
                      a un lado de las nieves del Chavo, o en alguna de nuestras Sucursales.
                </p>
            </div>

            <div class="col-12 mt-5">
                <h3>
                    ¿CUANTO CUESTA SI PIERDO MI FOLIO?
                </h3>
                <p class="mt-3">
                    Si se te perdió un folio la búsqueda es de $25 pesos y tardamos 2 días 
                    en mandarte nuevamente el folio. 
                    Es requisito indispensable contar con toda la información exacta de búsqueda.
                </p>
                <p class="mt-3">
                    *NO NOS HACEMOS RESPONSABLE POR PAQUETES CON VALOR MAYOR A $300 MXN
                </p>
            </div>

            <div class="col-12 mt-5">
                <h3>
                    ¿PUEDO RECUPERAR MI FOLIO SI MI VENDEDORA O QUIEN DEJO EL PAQUETE YA NO ME CONTESTA?
                </h3>
                <p class="mt-3">
                    Si una vez transcurrido la semana #9, podemos realizar una búsqueda con la siguiente información: 
                    Quién deja, Quien recoge paquete, fecha que dejo paquete y contenido. De no coincidir algún dato no 
                    será posible ubicar si dejaron o no algún paquete. Requisito necesario alguna identificación oficial.
                </p>
            </div>
            
        </div>
        <div class="col-6 col-xs-12 ps-4 pe-0 ps-0">
            <div class="col-12 mt-5">
                <h3>
                    ¿CUANTO TIEMPO GUARDAN MI PAQUETE? 
                </h3>
                <p class="mt-3">
                    Puede permanecer hasta 8 semanas en sucursal, después de esa fecha se almacena en 40 semanas más,
                     cada semana genera un costo adicional y puedes solicitar la revisión, cotización y devolución de tu paquete dentro del tiempo estipulado. 
                     A partir de las semanas de almacenamiento no nos hacemos responsables de tu (s) paquetes.
                </p>
            </div>

            <div class="col-12 mt-5">
                <h3>
                    ¿Y SI NO TENGO MI FOLIO PARA RECOGER MI PAQUETE?
                </h3>
                <p class="mt-3">
                    Sin la imagen del recibo no se entregan paquetes, es el único método para la entrega.
                </p>
            </div>

            <div class="col-12 mt-5">
                <h3>
                    ¿COMO TENGO QUE LLEVAR MI PAQUETE?
                </h3>
                <p class="mt-3">
                    El Paquete tiene que estar cerrado, rotulado con la información de quien deja y quien recogerá, 
                    el tamaño máximo de paquetes que recibimos es de 30 x 30 x 30. No almacenamos comida ni productos perecederos.
                </p>
            </div>
            
            <div class="col-12 mt-5">
                <h3>
                    TERMINOS Y CONDICIONES DE TRASLADO DE PAQUETES ENTRE SUCURSALES
                </h3>
                <p class="mt-3">
                    Costo por traslado desde $10 pesos por paquete
                </p>
                <p class="mt-3">
                    Los traslados puedes solicitarlo vía WhatsApp o directamente en la sucursal donde deposites tu paquete.
                </p>
                <p class="mt-3">
                    El costo de traslado es por cada vez que se solicita traslado o re-traslado
                </p>
                <p class="mt-3">
                    Una vez depositado el paquete en cualquier sucursal para su traslado no será posible 
                    redirigirlo o cancelar el traslado : por motivos de logística se tendrá que esperar 
                    al dia siguiente hábil a que llegue a sucursal destino para solicitar algún cambio, 
                    devolución o cancelación, este movimiento genera costos adicionales en re-traslados.
                </p>
                <p class="mt-3">
                    Horario para trasladar paquetes ya depositados en sucursal: Lunes a Viernes de 11-7 pm, Sábados de 11-3 pm. 
                    Domingos no hay atención en linea para traslados.
                </p>
                <p class="mt-3">
                    Contracto de traslados: Via WhatsApp  33 14 48 63 
                </p>
            </div>
        </div>
    </div>
    
</div>