/* You can add global styles to this file, and also import other style files */
@import "material-symbols";
@import "scss/paquteriaCB.css";
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
p{
    margin-bottom: 0px !important;
}
